<md-content>
    <md-list>
        <md-subheader class="md-no-sticky">Challenges</md-subheader>
        <md-list-item>
            Challenge 1
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Friends</md-subheader>
        <md-list-item>
            Friend1
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Requests</md-subheader>
        <md-list-item>
            Request 1
        </md-list-item>
    </md-list>
</md-content>

<!--
<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('sideNav')">
    <md-toolbar>
        <h1 class="md-toolbar-tools">Challenges</h1>
    </md-toolbar>
</md-sidenav>
-->
