<md-content>
    <md-list>
        <md-subheader class="md-primary">
            Challenges
        </md-subheader>
        <md-list-item ng-click="ctrl.navigateToChallenge(challenge);"
                      ng-repeat="challenge in ctrl.challenges track by challenge._id">
            <p>{{challenge.name}}</p>
        </md-list-item>
        <md-list-item ng-click="ctrl.createChallenge()">
            <md-icon>add_box</md-icon><p>Add</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-primary">Friends</md-subheader>
        <md-list-item>
            Friend1
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-primary">Requests</md-subheader>
        <md-list-item>
            Request 1
        </md-list-item>
    </md-list>
</md-content>

<!--
<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('sideNav')">
    <md-toolbar>
        <h1 class="md-toolbar-tools">Challenges</h1>
    </md-toolbar>
</md-sidenav>
-->
