<md-content class="md-padding" flex layout="column">
  <div layout="row">
    <md-button ng-disabled="ctrl.refreshingRequest" ng-click="ctrl.refresh()" class="md-raised refresh-button"
                               style="width:50px;">
      Refresh
    </md-button>
  </div>
  <h1>{{ctrl.challenge.name}}</h1>
  <challenge-player ng-repeat="player in ctrl.challenge.players | winningPlayer" player="player" max-points="ctrl.maxPoints"></challenge-player>
  <challenge-admin id="ctrl.id" ng-if="challenge.owener = ctrl.currentUser.user"></challenge-admin>
</md-content>
