<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <% _.each( stylesheets, function( path ) { %>
    <link rel="stylesheet" type="text/css" href="<%- path %>" />
    <% } ); %>
    <title>Urf3</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
</head>
<body ng-app="urf3">
    <div class="app" layout-fill layout="column">
        <app-header></app-header>
        <md-content>
            <div ui-view></div>
        </md-content>
    </div>
</body>

<% _.each( scripts, function( script ) { %>
<script type="text/javascript" src="<%- script %>"></script>
<% } ); %>