.app-toolbar {
  /*padding-left: 8px;
  height: 50px;
  width:100%;
  border-color: black;
  background-color: #323232;
  color: white;

  .title {
    float: left;
    margin-top: 14px;
    margin-right: 8px;
  }

  .btn-toolbar {
    float:left;
  }*/
  .app-settings {
    margin-top: -18px;
  }
}